<div class="container text-white">
  <h1>About</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloremque
    fugiat optio, earum voluptatum alias nobis dolore itaque debitis a natus
    fugit non facilis commodi! Commodi delectus atque culpa natus.</p>
</div>