<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> tareas/taskForm}}
        </div>
        <div class="col-md-7">
            {{> tareas/taskTable}}
        </div>
    </div>
</div>